.chat {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.chat li {
    list-style-type: none;
}

.msg {
    padding: 10px;
    border: solid 1px;
    margin: 1px 0 10px 0;
}

.self .msg {
    background-color: #beeaff;
    margin-left: 20px;
    border-radius: 5px 0 5px 15px;
}

.other .msg {
    background-color: #b0ffb9;
    margin-right: 20px;
    border-radius: 0 5px 15px 5px;
}
.other .agent-name{
    text-align: left;
}


.msg > time{
    color: #777;
}