html {
    background: url(/static/images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    direction: rtl;
    color: #333333;
    background-color: inherit;
}

.form-error {
    border-color: #e96666;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 102, 102, 0.6);
}

.top {
    height: 55px;
    background-color: rgba(59, 59, 59, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    padding: 10px;
    z-index: 1000;
}

.top p {
    text-align: center;
    font-size: 21px;
}

.top .col-xs-4 {
    padding-right: 0;
    padding-left: 0;
}

.top i {
    font-size: 24px;
    margin: 5px;
    color: white;
}

.center {
    margin-top: 55px;
    padding: 50px 0;
}

.bottom {
    height: 50px;
    background-color: rgba(59, 59, 59, 0.7);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 32px;
    direction: ltr;
    text-align: center;
}

.bottom i {
    color: white;
}

.btn-default {
    margin-bottom: 10px;
    font-size: 19px;
    height: 80px;
    padding: 10px;
    border: solid 1px #6f6f6f;
    border-radius: 5px;
    color: #6f6f6f;
    background-color: rgba(255, 255, 255, 0.7);

}

.btn-default:hover {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #333;

}

.btn-default img {
    height: 100%;
    width: auto;
}

.list-company {
    padding: 0 10px;
}

.list-company i {
    margin-top: 11px;
}

.send {
    color: #656565;
    margin: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.btn-add {
    position: fixed;
    bottom: 70px;
    right: 20px;
    box-shadow: -3px 5px 5px rgba(21, 21, 21, 0.3);
}

.list-sales {
    display: flow-root;
    padding: 10px;
    margin-top: 10px;
    color: #6f6f6f;
    background-color: rgba(255, 255, 255, 0.7);
    border: solid 1px #6f6f6f;
    border-radius: 5px;
}

.table th {
    text-align: right;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 1px;
}

.pay_style {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 10px;
    border: solid 1px;
    border-radius: 3px;
}

.pay-status1 {
    background-color: rgba(200, 255, 200, 0.7);;
}

.pay-status2 {
    background-color: rgba(255, 200, 200, 0.7);
}

.panel {
    margin-bottom: 10px;
}

.btn-download {
    position: fixed;
    right: 20px;
    bottom: 70px;
    text-align: center;
    border-radius: 28px;
}

.btn-download p {
    margin: 0;
}

